# Environment variables
.env

# Data
gold/
*.parquet
*.db
*.csv

# Chroma DB
.chroma_db/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Debug
debug_*
Finagent/
